#titulo{
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-family: Arial;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#caja { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	font-size: 18px; 
	font-weight: 20; 
	text-align: center; 
	background: #889ccf; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 50px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
 	height: 280px;
 	width: 600px;
 	border-top: : 90px;
 	 position:relative;
    top:40px;
    left:20px;
}
#leer
{
	 position:relative;
    top:-270px;
    left:280px;
    height: 250px;
 	width: 400px;
}
#direccion
{
	 position:relative;
    top:-270px;
    left:-300px;
    height: 250px;
 	width: 400px;
}
#saludos
{
	 position:relative;
    top:-270px;
    left:-300px;
    height: 250px;
 	width: 400px;
}
#caja2 { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	font-size: 18px; 
	font-weight: 20; 
	text-align: center; 
	background: #DD8303; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 50px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #F8AD42;
 	height: 280px;
 	width: 500px;
 	border-top: : 90px;
 	 position:relative;
    top:40px;
    left:450px;
}
#caja3 { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	font-size: 18px; 
	font-weight: 20; 
	text-align: center; 
	background: #6BA30F; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 50px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #E39C0C;
 	height: 280px;
 	width: 500px;
 	border-top: : 90px;
 	 position:relative;
    top:40px;
    left:450px;
}
#audifonos
{
	 position:relative;
    top:-270px;
    left:-300px;
    height: 250px;
 	width: 400px;
}
#caja4 { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	font-size: 18px; 
	font-weight: 20; 
	text-align: center; 
	background: #636260; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 50px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #EDF105;
 	height: 280px;
 	width: 500px;
 	border-top: : 90px;
 	 position:relative;
    top:40px;
    left:450px;
}